<%= form_with(model: @entity, url: group_entities_path, method: :post ) do |form| %>
  <% if entity.errors.any? %>
    <div class="error-message">
      <h2><%= pluralize(entity.errors.count, "error") %>
        prohibited this entity from being saved:</h2>
      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, placeholder: "Name", required: true %>
  </div>

  <div class="form-group">
    <%= form.number_field :amount,
                      placeholder: "Amount",
                      class: "number_field",
                      required: true %>
  </div>

  <%= form.hidden_field :group_id, value: params[:group_id] %>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
